body{
    padding-left: 16%;
    padding-right: 20%;
    height:100%;
    width:  1280px;
    background-color: rgb(250, 205, 138)
}

h1 {
    font: oblique bold 175% cursive;
    text-align: center;
    padding-bottom: 1%; 
    padding-top: -5%;
    font-style: oblique;
    font-family: Arial;
   
    
  }
 

#top {
    margin:auto;
    width:100%;
    font-family:Arial, Helvetica, sans-serif;
}
  ul, ol {
    list-style:none;
}

.nav > li {
    float:left;
    min-width: 200px;
}

.nav li a {
    background-color:rgb(240, 214, 130);
    color:rgb(0, 0, 0);
    text-decoration:none;
    padding:10px 20px;
    display:block;
    border-radius: 10px;
}

.nav li a:hover {
    background-color:#7e7e7e;
}

.nav li ul {
    display:none;
    position:absolute;
    min-width:150px;
}

.nav li:hover > ul {
    display:block;
}

.nav li ul li {
    position:relative;
}

.nav li ul li ul {
    right:-140px;
    top:0px;
}
section.ar{
    position: absolute;
}
img.iz{
    float: left;
    width: 350px;
    height: 200px;
    padding-right: 10px;
    border-radius: 25px;
}
img.der{
    float: right;
    width: 350px;
    height: 200px;
    padding-left: 10px;
    border-radius: 25px;
}
section.cen{
    padding-top: 100px;
}
article.de{
   
    padding-top: 200px;
    text-align: right

}
p {
    text-indent: 25px;
}
.nda{
    width: 100%;
    height: 100%;
}

img.top{
    height: 2280px;
    width: 1240px;
}
p.fut{
    padding: 8px;
    margin-bottom: 0px;
    text-align: center;
    font-size: 14px;
    background-color: rgb(153, 152, 152);
    border-radius: 15px;
    font-weight: bolder;
}
p.futt{
    position: relative;
    top: 100%;
    left: 0%;
    right: 0%;
    padding: 10px;
    margin-top: 180px;
    margin-bottom: 0px;
    text-align: center;
    font-size: 14px;
    background-color: rgb(153, 152, 152);
    border-radius: 15px;
    font-weight: bolder;
  }