  div#imagen {
    width: 300px;
    height: 200px;
    background-size: cover;
    background-image: url("img/IMG_6451.JPG");
    border-radius: 10px;
   
  }
  div#imagen1 {
    width: 300px;
    height: 200px;
    background-size: cover;
    background-image: url("img/IMG_20190201_200023.jpg");
    border-radius: 10px;
   
  }
  div#imagen2 {
    width: 300px;
    height: 200px;
    background-size: cover;
    background-image: url("img/prin.jpg");
    border-radius: 10px;
   
  }
  div#imagen3 {
    width: 300px;
    height: 200px;
    background-size: cover;
    background-image: url("img/25594244_1516361641733426_3789142079949947674_n.jpg");
    border-radius: 10px;
  }
  
  div#info {
    position:absolute;
    overflow:hidden;
    width: 300px;
    height: 200px;
    background-color: rgba(31, 31, 31, 0.9);
    opacity:0;
    transition: opacity 0.3s;
  }
  
  div#imagen:hover div#info {
    opacity:1;
  }
  div#imagen1:hover div#info {
    opacity:1;
  }
  div#imagen2:hover div#info {
    opacity:1;
  }
  div#imagen3:hover div#info {
    opacity:1;
  }
  p#headline {
    position: absolute;
    font-size: 1.5rem;
    margin-left: -75px;
    margin-top: 15px;
    transition: margin-left 0.3s;
    color: white
  }
  
  div#imagen:hover p#headline {
    margin-left: 95px;
  }
  div#imagen1:hover p#headline {
    margin-left: 95px;
  }
  div#imagen2:hover p#headline {
    margin-left: 85px;
  }
  div#imagen3:hover p#headline {
    margin-left: 75px;
  }
  
  
  
  
  p#descripcion {
    font-size: 1rem;
    text-align: center;
    margin-top: 200px;
    transition: margin-top 0.4s;
    color: white
  }
  
  div#imagen:hover p#descripcion {
    margin-top: 75px;
  }
  div#imagen1:hover p#descripcion {
    margin-top: 75px;
  }
  div#imagen2:hover p#descripcion {
    margin-top: 75px;
  }
  div#imagen3:hover p#descripcion {
    margin-top: 75px;
  }

 table{
     padding: 10px;
     width: 100%;
     height: 100%;
 }
 a{
     color: white;
     text-decoration: none;

 }
 article.ba{
     margin:30px
 }
 section {
     margin-left: 10%;
 }
 img{
  width: 350px;
  height: 200px;
  padding-left: 10px;
  padding-top: 20px;
  border-radius: 30px;
 }
 img.top{
   width: auto;
   height: auto;
 }
h3{
  padding-top: 75px;
}
a.mestre{
  color: black;
  text-decoration: underline;
}
p.ubicacion{
  text-align: right;
  position: relative;
  margin-top: -500px;
  right: 100px;
}
p.rrss{
  text-align: center;
}
img.rrss{
  width: 50px;
  height: 50px;
}
img.imgpiso{
  padding-right: 10px;
  float: left;
 
}
img.der{
  float: right;
  
}
article.img{
  padding-top: 15%;
  padding-bottom : 5%;
  margin: 10px;
}
sup{
  font-size: 14px;
}
article.tops{
  padding-top: 50px;
  padding-bottom : 5%;
  margin: 10px;
}

input{
  margin-top: 30px;
  padding: 5px;
}
textarea{
  margin-top: 10px;
  border-radius: 25px;
  padding-left: 15px;
}
b.bot{
  font-size: 30px;
}
.inf{
  margin-right: 19%;
  text-align: right;
  font-size: 15px;
  margin-top: 5px;
}
