  div#imagen {
    width: 300px;
    height: 200px;
    background-size: cover;
    background-image: url("img/prin.jpg");
   
  }
  
  div#info {
    position:absolute;
    overflow:hidden;
    width: 300px;
    height: 200px;
    background-color: rgba(31, 31, 31, 0.9);
    opacity:0;
    transition: opacity 0.3s;
  }
  
  div#imagen:hover div#info {
    opacity:1;
  }
  
  p#headline {
    position: absolute;
    font-size: 1.5rem;
    margin-left: -75px;
    margin-top: 15px;
    transition: margin-left 0.3s;
    color: white
  }
  
  div#imagen:hover p#headline {
    margin-left: 115px;
  }
  
  p#descripcion {
    font-size: 1rem;
    text-align: center;
    margin-top: 200px;
    transition: margin-top 0.4s;
    color: white
  }
  
  div#imagen:hover p#descripcion {
    margin-top: 75px;
  }

 table{
     padding: 10px;
     width: 100%;
     height: 100%;
 }
 a{
     color: white;
     text-decoration: none;

 }
 article.ba{
     margin:30px
 }
 section {
     margin-left: 10%;
 }
 img{
  width: 350px;
  height: 200px;
  padding-left: 10px;
  padding-top: 20px;
  border-radius: 30px;
 }
 img.top{
   width: auto;
   height: auto;
 }
h3{
  padding-top: 75px;
}
a.mestre{
  color: black;
  text-decoration: underline;
}
p.ubicacion{
  text-align: right;
  position: relative;
  margin-top: -500px;
  right: 100px;
}
p.rrss{
  text-align: center;
}
