body{
    background-color: rgb(250, 205, 138);
}
#tabla {display: table;
}

#estilo {
padding: 25px;
position: absolute;
top: 45%;
left: 50%;
height: 400px;
width: 600px;
margin: -200px 0 0 -300px;
font-family: Tahoma;
background-color: rgb(240, 214, 130);
border: 2px solid black;
border-radius: 15px;
}
h1#cen{
    text-align: center;
}
#parent {display: table;
}

#child {
padding: 25px;
position: absolute;
top: 50%;
left: 50%;
height: 20%;
width: 300px;
margin: -10% 0 0 -150px;
font-family: Tahoma;
background-color: rgb(240, 214, 130);
border: 2px solid black;
border-radius: 15px;
}
p.fut{
    position: absolute;
    top:95%;
    left: 0%;
    right: 0%;
    padding: 8px;
    margin-bottom: 0px;
    text-align: center;
    font-size: 14px;
    background-color: rgb(153, 152, 152);
    border-radius: 15px;
    font-weight: bolder;
  }